/* products.css */

/* Convert this to Flex */
li.pet-listing { 
    list-style-type: none;
    border: 1px solid #ccc;
    width: 300px;
}

.pet-listing .text-container { 
    padding: 15px;
}

.pet-listing .text-container > h3 { 
    margin-top: 0;
}

.pet-listing .text-container .category { 
    font-size: .85rem;
    background-color: #d6d6d6;
    display: inline-block;
    padding: 2px 5px;
    border-radius: 3px;
    color: #333;
}

li img {
    width: 100%;
}